{% extends "base-col21.html" %}
{% load templatetags %}

{% block page_menu %}
    <ul>
        <li><a href="{% url 'verperfil' %}" >Perfil</a></li>
        <li><a href="{% url 'solicitud' %}">Solicitudes</a></li>
        <li><a href="{% url 'inventario' %}">Inventario</a></li>
        <li><a href="{% url 'categorias' %}">Categorías</a></li>
        {% if user|has_group:"Administradores" %}   
        <li><a href="#" class="current-page-item">Administración</a>
            <ul>  
                <li><a href="{% url 'reporte' %}">Reportes</a></li>
                <li><a href="{% url 'adminDptos' %}" class="current-page-item">Departamentos</a></li>
                <li><a href="{% url 'adminUsuarios' %}">Usuarios</a></li>
            </ul>                
        </li>
        {% endif %}
    </ul>
{% endblock page_menu%}

{% block page_title %}Departamentos{% endblock page_title %}
{% block page_left %}
{% endblock page_left %}
{% block page_content %}
	{% if dptos %}
	<table style="width:100%" >
		<thead>
			<td><h3>Nombre</h3></td>
			<td><h3>Estado</h3></td>
			<td><h3>Editar</h3></td>
		</thead>
	<tbody>
	{% for d in dptos %}
		<tr>
			<td><h3 style = "color: gray;">{{ d }}</h3></td>
			<td><h3 style = "color: gray;">{{ d.get_estado_display }}</h3></td>
			<td ><a href="{% url 'editarDpto' d.id %}"><i class="fa fa-pencil-square-o"></i></a></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% else %}
		<h3>No hay departamentos registrados.</h3>
	{% endif %}
{% endblock page_content %}
{% block page_right %}
<form action="{% url 'adminDptos' %}" method="post">

{% if user|has_group:"Administradores" %}
<h2>Crear Departamento</h2>
	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			 {% for field in form %}

				 <h3>{{field.label_tag}}</h3>
				 <h4 style = "color:#CC0000">{{ field.errors}}</h4>
				 {{field}}<br><br>

				 {% endfor %}
			 <tr>
				<td align="right"><br><br>
				<input type="submit" class="button" value="(+) Crear Departamento"></td>
			</tr>
			</tbody>
		</table>
{% endif %}

</form>
{% endblock page_right %}