{% extends "base-col3.html" %}

{% block page_menu %}
	<a href="../../../verperfil">Perfil</a>
	<a href="../../../solicitud">Solicitudes</a>
	<a href="../../../inventario">Inventario</a>
	<a href="../../../categorias">Categorías</a>
{% endblock page_menu%}

{% block page_title %}Editar categoría '{{ categoria }}'{% endblock page_title %}
{% block page_left %}
	<ul align= "center"> <td><a href="../../../categorias" class="button"><i class="fa fa-arrow-left"></i></a></td>
	</ul>

{% endblock page_left %}
{% block page_content %}
<form action="" method="post">
<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}
			<tr>
			<td><h3>{{field.label_tag}}</h3></td>

			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>

			</tr>
			<tr>
				<td><h3>{{field}}</h3></td>
			</tr>

			 {% endfor %}
			<tr>
				<td align="right"><br><br>
				<input type="submit" class="button" value="Guardar">
				<a href="../../../categorias" class="button">Cancelar</a></td>
			</tr>
		</tbody>
	</table>

</form>
<!--div class="6u 12u(mobile) important(mobile)">
<section class="middle-content">
	<table style="width:100%">
		<tbody>
		<tr>
			<td><h3>Nombre:</h3></td>
			<td><h3 style = "color: gray; text-align:center">{{ categoria }}</h3></td>
		</tr>
		<tr>
			<td><h3>Estado:</h3></td>
			<td><h3 style = "color: gray; text-align:center">{{ categoria.get_estado_display }}</h3></td>
		</tr>
		<tr>
			<td><h3>Cantidad de items:</h3></td>
			<td><h3 style = "color: gray; text-align:center">{{ cantidad }}</h3></td>
		</tr>
		<tr>
			<td><h3>Items:</h3></td>
			<td align="center">
			<table><tbody>
			{% for i in items %}
				<tr>
					<td><h3 style = "color: gray;">{{ i.nombre }}</h3></td>
				</tr>
			{% endfor %}
			</tbody></table></td>
		</tr>
		</tbody>
	</table>
</section>
</div-->
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}