{% extends "base-col21.html" %}
{% load templatetags %}

{% block page_menu %}
	<script type="text/javascript">
		window.onload = function WindowLoad(event) {
	    	document.getElementById("categorias").setAttribute("class","current-page-item");
		}	/*No puedo poner el id en <li> porque class esta en <a>*/
	</script>
{% endblock page_menu%}

{% block page_title %}Categorías{% endblock page_title %}

{% block page_left %}
{% endblock page_left %}

{% block page_content %}

	{% if mensaje2 %}
		<h3 style="color:#009900; text-align:center">{{mensaje2}}</h3>
	{% endif %}

	{% if categorias %}
	<table  id="rowspan" cellspacing="0" class="tablesorter categoria" style="width:100%" >
	<thead>
		<th><h3>Nombre</h3></th>
		{% if user|has_group:"Almacenistas" %}
		<th><h3>Estado</h3></th>
		{% endif %}
		{% if user|has_group:"Administradores" %}
		<td><h3>Editar</h3></td>
		{% endif %}
	</thead>

	<tbody>
		{% for cat in categorias %}
		<tr>
		{% if cat.estado %}
			<td><h3 style="color:#000000">{{ cat }}</h3></td>
			{% if user|has_group:"Almacenistas" %}
			<td><h3 style="color:#000000">{{ cat.get_estado_display }}</h3></td>
			{% endif %}
		{% else %}
			{% if user|has_group:"Almacenistas" %}
			<td><h3>{{ cat }}</h3></td>
			<td><h3>{{ cat.get_estado_display }}</h3></td>
			{% endif %}
		{% endif %}
			{% if user|has_group:"Administradores" %}
			<td ><a href="{% url 'categoria_editar' cat.id %}"><i class="fa fa-pencil-square-o"></i></a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% else %}
		<h3>No hay categorías registradas.</h3>
	{% endif %}
{% endblock page_content %}

{% block page_right %}
<form action="{% url 'categorias' %}" method="post">

{% if user|has_group:"Administradores" %}
<h2>Crear categoría</h2>
	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			 {% for field in form %}

				 <h3>{{field.label_tag}}</h3>
				 <h4 style = "color:#CC0000">{{ field.errors}}</h4>
				 {{field}}<br><br>

				 {% endfor %}
			 <tr>
				<td align="right"><br><br>
				<input type="submit" class="button" value="Crear categoría"></td>
			</tr>
			</tbody>
		</table>
{% endif %}

</form>
{% endblock page_right %}
