{% extends "base-col3.html" %}

{% block page_menu %}
	<script type="text/javascript">
		window.onload = function WindowLoad(event) {
	    	document.getElementById("categorias").setAttribute("class","current-page-item");
		}	
	</script>
{% endblock page_menu%}

{% block page_title %}Editar categoría '{{ categoria }}'{% endblock page_title %}
{% block page_left %}
	<td><a href="{% url 'categorias' %}" class="button"><i class="fa fa-arrow-left"></i></a></td>

{% endblock page_left %}
{% block page_content %}
<form action="" method="post">
<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}
			
				{% if field.name != "estado" %}
					<tr>
					<td><h3>{{field.label_tag}}</h3></td>
					</tr>
			 		<h4 style = "color:#CC0000">{{ field.errors}}</h4>
					<tr>
					<td><h3>{{field}}</h3></td>
					</tr>
				{% else %}
					<table>
					<tr>
						<td style ="width:50%"><h3>Cantidad de ítems:   </h3></td>
						<td><h3 style="width:30%;text-align:center;color:#999999">   {{cantidad}}</h3></td>
					</tr>
					</table>
					<table> 
						<h3>Estado:</h3>						
						<h4 style = "color:#CC0000">{{ field.errors}}</h4>
						{% if categoria.estado == 1 %}
							<tr>
								<td><input checked="checked" id="id_estado_1" name="estado" style="background-color:white" type="radio" value="1"></td>
								<td><h4><label for="id_estado_1">Activo</label></h4></td>
							</tr>
							<tr>
								<td><h3><input id="id_estado_0" name="estado" style="background-color:white" type="radio" value="0"><h3></td>
								<td><h4><label for="id_estado_0">Inactivo</label></h4></td>
							</tr>
						{% else %}
							<tr>
								<td><input id="id_estado_1" name="estado" style="background-color:white" type="radio" value="1"></td>
								<td><h4><label for="id_estado_1">Activo</label></h4></td>
							</tr>
							<tr>
								<td><h3><input checked="checked" id="id_estado_0" name="estado" style="background-color:white" type="radio" value="0"><h4></td>
								<td><h4><label for="id_estado_0">Inactivo</label></h4></td>
							</tr>
						{% endif %}

					</table>
				{% endif %}



			 {% endfor %}
			<tr>
			
						
					


				<td align="right"><br><br>
				<input type="submit" class="button" name="Guardar" value="Guardar">
				<input type="submit" class="button" name="GuardarOtro" value="Guardar y seguir editando">
				<a href="{% url 'categorias' %}" class="button">Cancelar</a></td>
			</tr>
		</tbody>
	</table>

</form>
<!--div class="6u 12u(mobile) important(mobile)">
<section class="middle-content">
	<table style="width:100%">
		<tbody>
		<tr>
			<td><h3>Nombre:</h3></td>
			<td><h3 style = "color: gray; text-align:center">{{ categoria }}</h3></td>
		</tr>
		<tr>
			<td><h3>Estado:</h3></td>
			<td><h3 style = "color: gray; text-align:center">{{ categoria.get_estado_display }}</h3></td>
		</tr>
		<tr>
			<td><h3>Cantidad de items:</h3></td>
			<td><h3 style = "color: gray; text-align:center">{{ cantidad }}</h3></td>
		</tr>
		<tr>
			<td><h3>Items:</h3></td>
			<td align="center">
			<table><tbody>
			{% for i in items %}
				<tr>
					<td><h3 style = "color: gray;">{{ i.nombre }}</h3></td>
				</tr>
			{% endfor %}
			</tbody></table></td>
		</tr>
		</tbody>
	</table>
</section>
</div-->
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}