{% extends "base-col22.html" %}

{% block page_menu %}
<a href="./crearItem" >Crear Item</a>
{% endblock page_menu%}

{% block page_title %}Categorías{% endblock page_title %}
{% block page_left %}
<form action='./categorias' method="post">

<h2>Crear categoría</h2>
	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3>{{mensaje}}</h3>
			{% endif %}
			 {% for field in form %}

			 <h3>{{field.label_tag}}</h3>
			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>
			 {{field}}<br><br>

			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" value="Crear categoría"></td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_left %}
{% block page_content %}
	{% if categorias %}
	<table style="width:100%" >
		<thead>
			<td><h3>Nombre</h3></td>
			<td><h3>Estado</h3></td>
			<td><h3>Acciones</h3></td>
		</thead>
	<tbody>
	{% for cat in categorias %}
		<tr>
			<td><h3 style = "color: gray;">{{ cat.nombre }}</h3></td>
			<td><h3 style = "color: gray;">{{ cat.get_estado_display }}</h3></td>
			<td><a href="./categorias/{{cat.id}}/editar"><i class="fa fa-pencil-square-o"></i></a></td>
			<!--td><i class="fa fa-pencil-square-o"></td>
			<td><i class="fa fa-times"></i></i></h3></td-->
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}