{% extends "base-col3.html" %}

{% block page_menu %}
	<script type="text/javascript">
		window.onload = function WindowLoad(event) {
	    	document.getElementById("verperfil").setAttribute("class","current-page-item");
		}	
	</script>
{% endblock page_menu%}

{% block page_title %}Cambiar contraseña{% endblock page_title %}

{% block page_left %}{% endblock page_left %}

{% block page_content %}
<form action="" method="post">
	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
			 	{{ mensaje }}<br><br>
			{% endif %}
			{% for field in form %}

			 <h3>{{field.label_tag}}</h3>

			 {{ field.errors}}
			 	{{field}}<br><br>

			 {% endfor %}	

			<tr>
				<td align="right"><br><br>
					<input type="submit" class="button" name="Guardar" value="Guardar">
					<a href="{% url 'verperfil' %}" class="button">Cancelar</a>
				</td>
			</tr>
		</tbody>
	</table>

</form>

	
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}