{% extends "base-col3.html" %}
{% load templatetags %}

{% block page_menu %}
	<a href="./verperfil">Perfil</a>
	<a href="./solicitud">Solicitudes</a>
	<a href="./inventario">Inventario</a>
	<a href="./categorias" >Categorías</a>
{% endblock page_menu%}

{% block page_title %}Crear Solicitud{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}

<form action="" method="post">
	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style="color:{{color}}">{{mensaje}}</h3>
			{% endif %}

        
            {% if falta_categoria %}
                <h4 style = "color:#CC0000">{{falta_categoria}}</h4>
            {% endif %}
            <h3>Categoría:</h3>
                 <div class="field">
                    <div class="f-wrapper">
                        <select id="roleSel" class="cbx" name="role" style="width: 100%; background-color:white">
                            <option value="" selected>---------</option>
                            {% for cat in categorias%}
                                <option value="{{cat}}">{{cat}}</option>
                            {% endfor %}
                        </select>
                    </div>
                 </div>
            <br>

            {% if falta_item %}
                <h4 style = "color:#CC0000">{{falta_item}}</h4>
            {% endif %}
            <h3>Item:</h3>
                <div id="noitem">
                    <select id="roleSel2" class="cbx" name="blank" style="width: 100%;background-color:white">
                        <option value="">---------</option>
                     </select>
                </div>

                {% for cat in categorias %}
                    <div id="{{cat}}" class="hidden">
                        <select id="roleSel2" class="cbx" name="{{cat}}" style="width: 100%;background-color:white">
                            <option value="" selected>---------</option>
                            {% for i in items %}
                                {% if i.id_categoria.nombre == cat %}
                                    <option value="{{i.nombre}}">{{i.nombre}}</option>
                                {% endif %}
                            {% endfor %}
                         </select>
                    </div>
                {% endfor %}
            

                <style type="text/css">
                    .hidden { display: none; }
                </style>

                <script>
                    var ids = {{categorias|safe}};
                    var dropDown = document.getElementById("roleSel");

                    dropDown.onchange = function(){
                        for (var x = 0; x < ids.length; x++) {
                            document.getElementById(ids[x]).style.display="none";
                            if (this.value == ""){
                                document.getElementById("noitem").style.display = "block";         
                            } else {
                                document.getElementById("noitem").style.display = "none";   
                            }
                        }
                        document.getElementById(this.value).style.display = "block";
                    }
                </script>
            <br>

            {% for field in form %}
                <h3>{{field.label_tag}}</h3>
                <h4 style = "color:#CC0000">{{ field.errors}}</h4>
                {{field}}
                 <br><br>
			{% endfor %}
		<tr>
			<td align="right"><br><br>
			<input type="submit" class="button" value="Crear solicitud"></td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}