{% extends "base-col3.html" %}

{% block page_menu %}
<a href="./inventario" >Inventario</a>
<a href="./categorias" >Categorías</a>
{% endblock page_menu%}

{% block page_title %}Crear Item{% endblock page_title %}
{% block page_left %}

	<ul align= "center"> <td><a href="./inventario" class="button"><i class="fa fa-arrow-left"></i></a></td>
	</ul>
{% endblock page_left %}
{% block page_content %}
<form action="" method="post">

	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}

			 {% if field.name == "categoria" %}
			 	<h3>{{field.label_tag}}      <a href="./categorias" target="_blank"><i class="fa fa-plus-square"></i></a></h3>
			 {% else %}
			 	<h3>{{field.label_tag}}</h3>
			 {% endif %}

			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>

			 {{field}}<br><br>

			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" value="Crear item"></td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}