{% extends "base-col3.html" %}
{% load templatetags %}

{% block page_menu %}
	<a href="./verperfil">Perfil</a>
	<a href="./solicitud">Solicitudes</a>
	<a href="./inventario">Inventario</a>
	<a href="./categorias" >Categorías</a>
{% endblock page_menu%}

{% block page_title %}Crear Solicitud{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}


<!--div>
<form action="" method="get" accept-charset="utf-8">

{% for field in form %}

{% if field.label == "Categoría" %}

    <style type="text/css">
        .hidden{
            display: none;
    }
    </style>

    <div class="field">
        <div class="f-wrapper">
           <select id="roleSel" class="cbx" tabindex="50" name="role">
                {% for cat in categorias%}
                    <option value="{{cat.nombre}}">{{cat.nombre}}</option>
                {% endfor %}
           </select>
        </div>
     </div>


    {% for cat in categorias %}
        <div id="{{cat.nombre}}" class="hidden">
            <select id="roleSel" class="cbx" tabindex="50" name="role">
                {% for i in items %}
                        {% if i.id_categoria.nombre == cat.nombre %}
                            <option value="{{cat}}">{{i.nombre}}</option>
                        {% endif %}
                {% endfor %}
             </select>
        </div>
    {% endfor %}

    <script>
        var ids=["Eléctricos", "Limpieza"];
        var dropDown = document.getElementById("roleSel");

        dropDown.onchange = function(){
            for (var x = 0; x < ids.length; x++){
                document.getElementById(ids[x]).style.display="none";
            }
            document.getElementById(this.value).style.display = "block";
        }
    </script>
{% endif %}
{% endfor %}
</form>
</div-->

<form action="" method="post">


	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style="color:green">{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}
                <h3>{{field.label_tag}}</h3>
                <h4 style = "color:#CC0000">{{ field.errors}}</h4>

                {% if field.label == "Categoría" %}

                    <style type="text/css">
                        .hidden{
                            display: none;
                    }
                    </style>


                     <div class="field">
                        <div class="f-wrapper">
                           <select id="roleSel" class="cbx" tabindex="50" name="role" style="width: 100%;background-color:white">
                                {% for cat in categorias%}
                                    <option value="{{cat.nombre}}">{{cat.nombre}}</option>
                                {% endfor %}
                           </select>
                        </div>
                     </div>
                
                {% elif field.label == "Item" %}
                
                    {% for cat in categorias %}
                        <div id="{{cat.nombre}}" class="hidden">
                            <select id="roleSel" class="cbx" tabindex="50" name="role">
                                {% for i in items %}
                                        {% if i.id_categoria.nombre == cat.nombre %}
                                            <option value="{{cat}}">{{i.nombre}}</option>
                                        {% endif %}
                                {% endfor %}
                             </select>
                        </div>
                    {% endfor %}
                

                    <script>
                        var ids=["Eléctricos", "Limpieza"];
                        var dropDown = document.getElementById("roleSel");

                        dropDown.onchange = function(){
                            for (var x = 0; x < ids.length; x++){
                                document.getElementById(ids[x]).style.display="none";
                            }
                            document.getElementById(this.value).style.display = "block";
                        }
                    </script>
                {% else %}
                    {{field}}
                {% endif %}
                <br><br>
			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" value="Crear solicitud"></td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}