{% extends "base-col3.html" %}

{% block page_menu %}
	<script type="text/javascript">
		window.onload = function WindowLoad(event) {
	    	document.getElementById("inventario").setAttribute("class","current-page-item");
		}	
	</script>
{% endblock page_menu%}

{% block page_title %}Crear ítem{% endblock page_title %}
{% block page_left %}

    <table style="width:100%"><tr><td style="text-align: left;"><a href="{% url 'inventario' %}" class="button"><i class="fa fa-arrow-left"></i></a></td></tr></table>

{% endblock page_left %}
{% block page_content %}
<form action="" method="post">

	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}

		 	<h3>{{field.label_tag}}</h3>

			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>

			 {{field}}<br><br>

			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" name="Crear" value="Guardar">
			<input type="submit" class="button" name="CrearOtro" value="Guardar y crear otro ítem">
			<a href="{% url 'inventario' %}" class="button">Cancelar</a>
			</td>

		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}