{% extends "base-col3.html" %}

{% block page_menu %}
    <ul>
        <li><a href="{% url 'verperfil' %}" >Perfil</a></li>
        <li><a href="{% url 'solicitud' %}">Solicitudes</a></li>
        <li><a href="{% url 'inventario' %}">Inventario</a></li>
        <li><a href="{% url 'categorias' %}">Categorías</a></li>
        {% if user|has_group:"Administradores" %}   
        <li><a href="#" class="current-page-item">Administración</a>
            <ul>  
                <li><a href="{% url 'reporte' %}">Reportes</a></li>
                <li><a href="{% url 'adminDptos' %}" class="current-page-item">Departamentos</a></li>
                <li><a href="{% url 'adminUsuarios' %}">Usuarios</a></li>
            </ul>                
        </li>
        {% endif %}
    </ul>
{% endblock page_menu%}

{% block page_title %}Editar Departamento '{{ nombre }}'{% endblock page_title %}
{% block page_left %}
	<ul align= "center"> <td><a href="{% url 'adminDptos' %}" class="button"><i class="fa fa-arrow-left"></i></a></td>
	</ul>

{% endblock page_left %}
{% block page_content %}
<form action="" method="post">
<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}
			<tr>
			<td><h3>{{field.label_tag}}</h3></td>

			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>

			</tr>
			<tr>
				<td><h3>{{field}}</h3></td>
			</tr>

			 {% endfor %}
			<tr>
				<td align="right"><br><br>
				<input type="submit" class="button" value="Guardar">
				<a href="{% url 'adminDptos' %}" class="button">Cancelar</a></td>
			</tr>
		</tbody>
	</table>

</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}