{% extends "base-col3.html" %}
{% load templatetags %}

{% block page_menu %}
<a href="{% url 'verperfil' %}" >Perfil</a>
<a href="{% url 'solicitud' %}" >Solicitudes</a>
<a href="{% url 'inventario'%}" >Inventario</a>
<a href="{% url 'categoria'%}" >Categorías</a>
{% endblock page_menu%}

{% block page_title %}Editar usuario '{{nombre}}'{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}
<form action="" method="post">
	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3>{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}

			 <h3>{{field.label_tag}}</h3>
			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>
			 {{field}}<br><br>

			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" value="Guardar"></td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}