{% extends "base-col3.html" %}

{% block page_menu %}
	<a href="." class="current-page-item">Iniciar sesión</a>
	<a href="./registrar">Registro</a>
{% endblock page_menu%}

{% block page_title %}Iniciar sesión{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}
<form action="." method="post">

	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			<tr>
				<td align="left"><h3>Cédula:</h3></td>
			</tr>
			<tr>
				<td><input id="id_cedula" maxlength="11" name="cedula" type="text" style="width:100%"></td>
			</tr>
			<tr>
				<td align="left"><br><h3>Contraseña:</h3></td>
			</tr>
			<tr>
				<td><input id="id_contraseña" maxlength="25" name="contraseña" type="password" style="width:100%"></td>
			</tr>
			<tr>
				<td align="right"><a href="#"><br>Recuperar contraseña</a></td>
			<tr>
				
				<td align="right"><br><br>
				<input type="submit" class="button"value="Iniciar sesión"></td>
			</tr>
		</tbody>
	</table>
</form>
{% if field.errors %}
	<p> Error </p>
{% endif %}
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}