{% extends "base-col1.html" %}
{% load templatetags %}

{% block page_menu %}
    <script type="text/javascript">
        window.onload = function WindowLoad(event) {
            document.getElementById("inventario").setAttribute("class","current-page-item");
        }  
    </script>
{% endblock page_menu%}

{% block page_title %}
{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}

{% if user|has_group:"Administradores" %}
<table style="width:100%">
<tr align="right">
	<td><a href="{% url 'crearItem' %}" class="button" align = "right"><i class="fa fa-plus-square"></i>   Crear ítem</a></td>
</tr>
</table>
{%endif%}

{% if mensaje %}
	<h3 style="color:#009900; text-align:center">{{mensaje}}</h3>
{% endif %} 

<h2>Ítems</h2>
{% if items %}
<table  id="rowspan" cellspacing="0" class="tablesorter" >
	<thead >
		<tr>
		<th><h3>Nombre</h3></th>
		<th><h3>Cantidad</h3></th>
		<th><h3>Categoría</h3></th>
		<th><h3>Mínimo</h3></th>
		<th><h3>Estado</h3></th>
		{% if user|has_group:"Almacenistas" %}
			<td><h3>Ingresar</h3></td>
		{% endif %}
		{% if user|has_group:"Administradores" %}
			<td><h3>Retirar</h3></td>
			<td><h3>Editar</h3></td>
		{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for i in items %}
		<tr>
			{% if i.estado %}
			<td><h3 style="color:#000000">{{ i }}</h3></td>
			<td><h3 style="color:#000000">{{ i.cantidad }}</h3></td>
			<td><h3 style="color:#000000">{{ i.id_categoria }}</h3></td>
			<td><h3 style="color:#000000">{{ i.minimo }}</h3></td>
			<td><h3 style="color:#000000">{{ i.get_estado_display }}</h3></td>
			{% else %}
			<td><h3>{{ i }}</h3></td>
			<td><h3>{{ i.cantidad }}</h3></td>
			<td><h3>{{ i.id_categoria }}</h3></td>
			<td><h3>{{ i.minimo }}</h3></td>
			<td><h3>{{ i.get_estado_display }}</h3></td>
			{% endif %}
			{% if user|has_group:"Almacenistas" %}
				<td><h3><a href="{% url 'item_ingresar' i.id %}"><i class="fa fa-plus" style="color:green"></i></a></h3></td>
			{% endif %}
			{% if user|has_group:"Administradores" %}
				<td><h3><a href="{% url 'item_retirar' i.id %}"><i class="fa fa-minus" style="color:red"></i></a></h3></td>
				<td><h3><a href="{% url 'item_editar' i.id %}"><i class="fa fa-pencil-square-o"></i></a></h3></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
{% else %}
	<h3>No hay ítems registrados.</h3>
{% endif %}
</table>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}
