{% extends "base-col1.html" %}

{% block page_menu %}
<a href="" class="current-page-item">Inventario</a>
<a href="./categorias" >Categorías</a>
{% endblock page_menu%}

{% block page_title %}
{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}
<table style="width:100%">
<tr align="right">
	<td><a href="./crearItem" class="button" align = "right">(+) Crear item</a></td>
</tr>
</table>
<h2>Items</h2>
<table style="width:100%" >
	<thead >
		<tr>
		<td><h3><b>Nombre</b></h3></td>
		<td><h3>Cantidad</h3></td>
		<td><h3>Categoría</h3></td>
		<td><h3>Prioridad</h3></td>
		<td><h3>Mínimo</h3></td>
		<td><h3>Estado</h3></td>
		<td><h3>Editar</h3></td>
		</tr>

	</thead>
{% if items %}
	<tbody>
		{% for i in items %}
		<tr>
			<td><h3 style = "color: gray;">{{ i }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.cantidad }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.id_categoria }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.get_prioridad_display }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.minimo }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.get_estado_display }}</h3></td>
			
			<td><h3><a href="./inventario/{{i.id}}/editar"><i class="fa fa-pencil-square-o"></i></a></h3></td>
			<!--td><i class="fa fa-pencil-square-o"></td>
			<td><i class="fa fa-times"></i></i></h3></td-->
		</tr>
		{% endfor %}
	</tbody>
{% endif %}
</table>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}