{% extends "base-col22.html" %}

{% block page_menu %}
<a href="" class="current-page-item">Inventario</a>
<a href="./categorias" >Categorías</a>
{% endblock page_menu%}

{% block page_title %}
{% endblock page_title %}
{% block page_left %}
<h2>Categorías</h2>
<p>
<div id= "cat">
{% for c in categorias %}
	<input type="checkbox" name="c1" id="{{c.id}}" value="{{c.id}}" onclick="showMe(this)"> {{c.nombre}}<br>
{% endfor %}
</div>
<select>
{% for c in categorias %}
	<option name="{{c.nombre}}" value="{{c.id}}">{{c.nombre}}</option>
{% endfor %}
</select>

</p>
	
{% endblock page_left %}
{% block page_content %}
<table style="width:100%">
<tr align="right">
	<td><a href="./crearItem" class="button" align = "right">(+) Crear item</a></td>
</tr>
</table>
<div id= "datos">

</div>
<h2>Items</h2>
<table style="width:100%" >
	<thead >
		<tr>
		<td><h3><b>Nombre</b></h3></td>
		<td><h3>Cantidad</h3></td>
		<td><h3>Categoría</h3></td>
		<td><h3>Prioridad</h3></td>
		<td><h3>Mínimo</h3></td>
		<td><h3>Estado</h3></td>
		<td><h3>Editar</h3></td>
		</tr>

	</thead>
{% if items %}
	<tbody>
		{% for i in items %}
		<tr>
			<td><h3 style = "color: gray;">{{ i.nombre }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.cantidad }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.id_categoria }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.get_prioridad_display }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.minimo }}</h3></td>
			<td><h3 style = "color: gray;">{{ i.get_estado_display }}</h3></td>
			
			<td><h3><a href="./inventario/{{i.id}}/editar"><i class="fa fa-pencil-square-o"></i></a></h3></td>
			<!--td><i class="fa fa-pencil-square-o"></td>
			<td><i class="fa fa-times"></i></i></h3></td-->
		</tr>
		{% endfor %}
	</tbody>
{% endif %}
</table>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}
{% block js %}

<script> 
	$('select').on('change', inicio);
	
	function inicio(){
		var id = $(this).val();
		$.ajax({
			data : {'id': id},
			url: 'busqueda_ajax/',
			type: 'get',
			dataType: 'json',
			success: function (data) {
				console.log(data)
				var my = "a";
				console.log(my);
				for (var i = 0; i< data.size; i++){
					my += '<ul><li>'+ data[i].fields.nombre +'</li></ul>';
					console.log(my);
				}
				$('#datos').html(my);
			}

		});
	}
</script>
<script> 
$.ajax({
    url: '/hello',
    type: 'get', //this is the default though, you don't actually need to always mention it
    dataType: 'json',
    success: function(data) {
        console.log(data);
        //alert(data.toString());
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
</script>
<!--script>

	document.getElementById('cat').onclick = function() {
    // call toggleSub when checkbox clicked
    // toggleSub args: checkbox clicked on (this), id of element to show/hide
    console.log('Div');
};
</script-->
<!--script>

function showMe (box) {
  var vis = (box.checked) ? "Hola" : "Chao";
  console.log(vis)
}
</script-->

<script>
function showMe (box) {

    var chboxs = document.getElementsByName("c1");
    var vis = "none";
    console.log(chboxs)
    var id = [];
    for(var i = 0; i < chboxs.length ; i++) { 
        if(chboxs[i].checked){
         console.log(chboxs[i].id)
         id.push(chboxs[i].id);
        }
       console.log(id)
       var new_id = id.join(',')
       console.log(new_id)
     $.ajax({
		data : {'id': new_id} ,
		url: 'busqueda_ajax/',
		type: 'get',
		dataType: 'json',
		success: function (data) {
			console.log(data)
			my = JSON.parse(data.content);
			//alert(data)
			//var my = "a";
			console.log(my.model)
			//for (var i = 0; i< data.size; i++){
			//	my += '<ul><li>'+ data[i].fields.nombre +'</li></ul>';
			//	console.log(my);
			//}
			//$('#datos').html(my);
		}

	});

    }
    //document.getElementById(box).style.display = vis;


}
</script>

{% endblock js %}
