{% extends "base-col3.html" %}

{% block page_menu %}
    <ul>
        <li><a href="{% url 'verperfil' %}" >Perfil</a></li>
        <li><a href="{% url 'solicitud' %}">Solicitudes</a></li>
        <li><a href="" class="current-page-item">Inventario</a></li>
        <li><a href="{% url 'categorias' %}" >Categorías</a></li>
        {% if user|has_group:"Administradores" %}   
        <li><a href="#">Administración</a>
            <ul>  
                <li><a href="{% url 'reporte' %}">Reportes</a></li>
                <li><a href="#">Departamentos</a></li>
                <li><a href="#">Usuarios</a></li>
            </ul>                
        </li>
        {% endif %}
    </ul>
{% endblock page_menu%}

{% block page_title %}Editar ítem '{{ nombre }}'{% endblock page_title %}
{% block page_left %}
	<ul align= "center"> <td><a href="{% url 'inventario' %}" class="button"><i class="fa fa-arrow-left"></i></a></td>
	</ul>
{% endblock page_left %}
{% block page_content %}
<form action="" method="post">

	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}

			 <h3>{{field.label_tag}}</h3>
			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>
			 {{field}}<br><br>

			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" value="Guardar ítem">
			<a href="{% url 'inventario' %}" class="button">Cancelar</a>
			</td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}