{% extends "base-col3.html" %}

{% block page_menu %}
    <script type="text/javascript">
        window.onload = function WindowLoad(event) {
            document.getElementById("inventario").setAttribute("class","current-page-item");
        }  
    </script>
{% endblock page_menu%}

{% block page_title %}Editar ítem '{{ nombre }}'{% endblock page_title %}
{% block page_left %}
	<td><a href="{% url 'inventario' %}" class="button"><i class="fa fa-arrow-left"></i></a></td>
{% endblock page_left %}
{% block page_content %}
<form action="" method="post">

	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style={{color | safe}}>{{mensaje}}</h3>
			{% endif %}

			{% for field in form %}
				{% if field.name != "estado" %}
					 <tr>
					 	<td><h3>{{field.label_tag}}</h3></td>
					 </tr>
					 <h4 style = "color:#CC0000">{{ field.errors}}</h4>
					 <tr>
					 	<td>{{field}}<br><br></td>
					 </tr>
				{% else %}

					<table> 
						<h3>Estado:</h3>						
						<h4 style = "color:#CC0000">{{ field.errors}}</h4>
						{% if item.estado == 1 %}
							<tr>
								<td><input checked="checked" id="id_estado_1" name="estado" style="background-color:white" type="radio" value="1"></td>
								<td><h4><label for="id_estado_1">Activo</label></h4></td>
							</tr>
							<tr>
								<td><h3><input id="id_estado_0" name="estado" style="background-color:white" type="radio" value="0"></h3></td>
								<td><h4><label for="id_estado_0">Inactivo</label></h4></td>

							</tr>
						{% else %}
							<tr>
								<td><input id="id_estado_1" name="estado" style="background-color:white" type="radio" value="1"></td>
								<td><h4><label for="id_estado_1">Activo</label></h4></td>
							</tr>
							<tr>
								<td><h3><input checked="checked" id="id_estado_0" name="estado" style="background-color:white" type="radio" value="0"></h3></td>
								<td><h4><label for="id_estado_0">Inactivo</label></h4></td>
							</tr>
						{% endif %}

					</table>

				{% endif %}

			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" name="Guardar" value="Guardar">
			<input type="submit" class="button" name="GuardarOtro" value="Guardar y seguir editando">
			<a href="{% url 'inventario' %}" class="button">Cancelar</a>
			</td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}