{% extends "base-col3.html" %}

{% block page_menu %}
	<a href="..">Iniciar sesión</a>
	<a href="./registrar" class="current-page-item">Registro</a>
{% endblock page_menu%}

{% block page_title %}Registro{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}
<form action="./registrar" method="post">
	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% for field in form %}

			 <h3>{{field.label_tag}}</h3>

			 {{ field.errors}}
			 	{{field}}<br><br>

			 {% endfor %}

			<tr>
				<td align="right"><br><br>
				<input type="submit" class="button" value="Registrar"></td>
			</tr>
		</tbody>
	</table>

</form>

	
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}
