{% extends "base-col3.html" %}

{% block page_menu %}
	<a href="..">Iniciar sesión</a>
	<a href="./registrar" class="current-page-item">Registro</a>
{% endblock page_menu%}

{% block page_title %}Registro{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}
<form action="." method="post">

	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			<tr>
				<td align="left"><h3>Cédula:</h3></td>
			</tr>
			<tr>
				<td><input id="id_cedula" maxlength="11" name="cedula" type="text" style="width:100%"></td>
			</tr>
			<tr>
				<td align="left"><h3>Nombre:</h3></td>
			</tr>
			<tr>
				<td align="left"><h3>Apellido:</h3></td>
			</tr>
			<tr>
				<td align="left"><h3>Correo electrónico:</h3></td>
			</tr>
			<tr>
				<td align="left"><br><h3>Contraseña:</h3></td>
			</tr>
			<tr>
				<td><input id="id_contraseña" maxlength="25" name="contraseña" type="text" style="width:100%"></td>
			</tr>
			<tr>
				{{ field.errors }}
				<td align="right"><br><br>
				<input type="submit" class="button"value="Registrar"></td>
			</tr>
		</tbody>
	</table>
</form>
	
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}
