{% extends "base-col3.html" %}
{% load templatetags %}

{% block page_menu %}
    <script type="text/javascript">
        window.onload = function WindowLoad(event) {
            document.getElementById("solicitud").setAttribute("class","current-page-item");
        }  
    </script>
{% endblock page_menu%}

{% block page_title %}Editar perfil{% endblock page_title %}
{% block page_left %}
	<td><a href="{% url 'solicitud' %}" class="button"><i class="fa fa-arrow-left"></i></a></td>
{% endblock page_left %}
{% block page_content %}


<table>
	<tr><td style="width: 50%"><h5 style = "color: black; font-size: 22px">Item: </h5></td>
		<td style="width: 50%"><h4 style = "color: gray;"> {{ item }}</h4></td>
	</tr>
	
	<tr><td style="width: 50%"><h4 style = "color: black; font-size: 22px">Categoria: </h4></td>
		<td style="width: 50%"><h4 style = "color: gray;"> {{ categoria }}</h4></td>
	</tr>
</table>
<br>
<form action="" method="post">

	<table style="width:100%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
			{% if mensaje %}
				<h3 style = "color: {{color}}">{{mensaje}}</h3>
			{% endif %}
			{% for field in form %}

			 <h3>{{field.label_tag}}</h3>
			 <h4 style = "color:#CC0000">{{ field.errors}}</h4>
			 {{field}}<br><br>

			 {% endfor %}
		 <tr>
			<td align="right"><br><br>
			<input type="submit" class="button" name="Guardar" value="Guardar">
			<input type="submit" class="button" name="GuardarOtro" value="Guardar y seguir editando">
			<a href="{% url 'solicitud' %}" class="button">Cancelar</a></td>
			</td>
		</tr>
		</tbody>
	</table>
</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}