{% extends "base-col3.html" %}

{% block page_menu %}
	<a href="{% url 'verperfil' %}">Perfil</a>
	<a href="{% url 'solicitud' %}">Solicitudes</a>
	<a href="{% url 'inventario' %}">Inventario</a>
	<a href="{% url 'categorias' %}">Categorías</a>
{% endblock page_menu%}

{% block page_title %}¿Está seguro de que desea eliminar esta solicitud? Aún no ha sido aprobada.{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}
<form action="" method="post">

	<table style="width:92%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
		 <tr>
			<td align="right">
				<input type="submit" class="button" value="Aceptar">
			</td>
		</tr>
		</tbody>
	</table>

</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}