{% extends "base-col3.html" %}

{% block page_menu %}
    <ul>
        <li><a href="{% url 'verperfil' %}" >Perfil</a></li>
        <li><a href="" class="current-page-item">Solicitudes</a></li>
        <li><a href="{% url 'inventario' %}">Inventario</a></li>
        <li><a href="{% url 'categorias' %}" >Categorías</a></li>
        {% if user|has_group:"Administradores" %}   
        <li><a href="#">Administración</a>
            <ul>  
                <li><a href="{% url 'reporte' %}">Reportes</a></li>
                <li><a href="#">Departamentos</a></li>
                <li><a href="#">Usuarios</a></li>
            </ul>                
        </li>
        {% endif %}
    </ul>
{% endblock page_menu%}

{% block page_title %}¿Está seguro de que desea eliminar esta solicitud? Aún no ha sido aprobada.{% endblock page_title %}
{% block page_left %}{% endblock page_left %}
{% block page_content %}
<form action="" method="post">

	<table style="width:92%" >
		<thead>
		</thead>
		{% csrf_token %}
		<tbody>
		 <tr>
			<td align="right">
				<input type="submit" class="button" value="Aceptar">
			</td>
		</tr>
		</tbody>
	</table>

</form>
{% endblock page_content %}
{% block page_right %}{% endblock page_right %}