{% extends "base-col1.html" %}
{% load templatetags %}

{% block page_menu %}
    <ul>
        <li><a href="{% url 'verperfil' %}" >Perfil</a></li>
        <li><a href="" class="current-page-item">Solicitudes</a></li>
        <li><a href="{% url 'inventario' %}">Inventario</a></li>
        <li><a href="{% url 'categorias' %}" >Categorías</a></li>
        {% if user|has_group:"Administradores" %}   
        <li><a href="#">Administración</a>
            <ul>  
                <li><a href="{% url 'reporte' %}">Reportes</a></li>
                <li><a href="#">Departamentos</a></li>
                <li><a href="#">Usuarios</a></li>
            </ul>                
        </li>
        {% endif %}
    </ul>
{% endblock page_menu%}

{% block page_title %}{% endblock page_title %}
{% block page_left %}{% endblock page_left %}

{% block page_content %}
	<h2>Solicitudes de retiro de Items</h2>
	<table style="width:100%" >
 		<thead>
			<td><h3>Fecha</h3></td>
			<td><h3>Item</h3></td>
			<td><h3>Cantidad</h3></td>
			<td><h3>Estado</h3></td>

			<td><h3>Usuario</h3></td>
			<td><h3>Aprobar</h3></td>
			<td><h3>Rechazar</h3></td>
		</thead>
	<tbody>
	{% for s in solicitudes %}
		<tr>
			<td><h3 style = "color: gray;">{{ s.fecha|date:"d-m-Y, H:i" }}</h3></td>
			<td><h3 style = "color: gray;">{{ s.id_item.nombre }}</h3></td>
			<td><h3 style = "color: gray;">{{ s.id_solicitud.cantidad }}</h3></td>
			<td><h3 style = "color: gray;">{{ s.id_solicitud.get_estado_display }}</h3></td>

			<td><h3 style = "color: gray;">{{ s.id_usuario.first_name}} {{ s.id_usuario.last_name}}</h3></td>
			{% if s.id_solicitud.get_estado_display == "Esperando respuesta" %}
				<td><a href="../../../solicitud_estado/{{s.id}}/A"><i class="fa fa-check" style="color:green"></i></a></td>
				<td><a href="../../../solicitud_estado/{{s.id}}/R"><i class="fa fa-times" style="color:red"></i></a></td>
			{% else %}
				<td>-</td>
				<td>-</td>
			{% endif %}
		
		</tr>
	{% endfor %}

	</tbody>
	</table>
{% endblock page_content %}

{% block page_right %}{% endblock page_right %}