{% extends "base-col21.html" %}
{% load templatetags %}

{% block page_menu %}
	<script type="text/javascript">
		window.onload = function WindowLoad(event) {
	    	document.getElementById("verperfil").setAttribute("class","current-page-item");
		}	
	</script>
{% endblock page_menu%}

{% block page_title %}Mis últimos movimientos de inventario{% endblock page_title %}

{% block page_left %}
{% endblock page_left %}

{% block page_content %}

	{% if latest %}
		<table id="rowspan" cellspacing="0" class="tablesorter" style="width:100%" style="width:100%" >
		<thead>
			<td><h3>Fecha</h3></td>
			<td><h3>Acción</h3></td>
			<td><h3>Nombre ítem</h3></td>
		</thead>
		
		<tbody>
		{% for a in latest%}
			{% if a.id_usuario == user %}
			<tr>
				<td ><h3 style="color:#000000">{{ a.fecha|date:"d-m-Y, H:i" }}</h3></td>
				
				{%if a|class_name == "Crea" %}
					<td><h3 style="color:#000000">CREÓ solicitud de retiro de item</h3></td>
					{% for c in crear_todos %}
						{% if c.id_solicitud == a.id_solicitud %}
							<td><h3 style="color:#000000">{{ c.id_item.nombre }}</h3></td>
						{% endif %}
					{% endfor %}

				{%elif a|class_name == "Aprueba" %}
					<td><h3 style="color:#000000">APROBÓ solicitud de retiro de item</h3></td>
					{% for c in crear_todos %}
						{% if c.id_solicitud == a.id_solicitud %}
							<td><h3 style="color:#000000">{{ c.id_item.nombre }}</h3></td>
						{% endif %}
					{% endfor %}

				{%else%}
					<td><h3 style="color:#000000">INGRESÓ {{a.cantidad}} item(s) al inventario</h3></td>
					<td><h3 style="color:#000000">{{ a.id_item.nombre }}</h3></td>
				{%endif%}
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
		</table>
	{% else %}
		<h3>No hay movimientos registrados.</h3>
	{% endif %}

{% endblock page_content %}


{% block page_right %}
	<table style="width:100%" >
		<thead>
			<td><h2>Información de usuario</h2></td>

			
			<td><a href="{% url 'perfil_editar' user.id %}"><i class="fa fa-pencil-square-o"></i></a></td>
		</thead>
	</table>
{% if mensaje %}
	<h3 style="color:#009900">{{mensaje}}</h3>
{% endif %}
	<table>
		<tr><td style="width: 40%"><h4 style = "color: black;">Cédula: </h4></td>
			<td style="width: 60%"><h4 style = "color: gray;"> {{ user.username }}</h4></td></tr>
		<tr><td style="width: 40%"><h4 style = "color: black;">Nombre: </h4></td>
			<td style="width: 60%"><h4 style = "color: gray;"> {{ user.first_name }}</h4></td></tr>
		<tr><td style="width: 40%"><h4 style = "color: black;">Apellido: </h4></td>
			<td style="width: 60%"><h4 style = "color: gray;"> {{ user.last_name }}</h4></td></tr>
		<tr><td style="width: 40%"><h4 style = "color: black;">Correo: </h4></td>
			<td style="width: 60%"><h4 style = "color: gray;"> {{ user.email }}</h4></td></tr>

		<tr><td style="width: 40%"><h4 style = "color: black;">Cargo: </h4></td>
		{% if user|has_group:"Administradores" %}
			<td style="width: 60%"><h4 style = "color: gray;"> Administrador </h4></td></tr>
		{% elif user|has_group:"Almacenistas" %}
			<td style="width: 60%"><h4 style = "color: gray;"> Almacenista </h4></td></tr>
		{% else %}
			<td style="width: 60%"><h4 style = "color: gray;"> Técnico </h4></td></tr>
		{% endif %}
		
		<tr><td style="width: 40%"><h4 style = "color: black;">Registro: </h4></td>
			<td style="width: 60%"><h4 style = "color: gray;"> {{ user.date_joined|date:"d-m-Y" }}</h4></td></tr>	
	</table>

<div>
	<br>
	<table style="width:100%" >
		<thead>
			<td><h2>Cambiar contraseña</h2></td>
			<td><a href="{% url 'cambiarContraseña' %}"><i class="fa fa-pencil-square-o"></i></a></td>
		</thead>
	</table> </div>
{% endblock page_right %}
