/*Tablas*/

/*#rowspan thead, tbody {
	display: block;
}

#rowspan tbody {	
	height: 400px;
	overflow-y: scroll;
}*/


/*Colores*/

.exito {
	color: #009900;
}

.error {
	color: #CC0000;
}

.activo {
	color: #000000;
}

.inactivo {
	color: #808080;
}


/*Logo*/

#logoimagen{ float: right; }
