/*Tablas*/

#rowspan thead, tbody {
	display: block;
}

#rowspan tbody {	
	height: 400px;
	overflow-y: scroll;
}

table.movimientos tbody tr:hover td {
	background-color: #f1f1f1;
} 

table.movimientos tbody tr td:first-child {
	width: 200px;
} 

table.movimientos tbody tr td:nth-child(2) {
	width: 353px;
} 

table.movimientos tbody tr td:last-child {
	width: 200px;
} 

/*Colores*/

.exito {
	color: #009900;
}

.error {
	color: #CC0000;
}

.activo {
	color: #000000;
}

.inactivo {
	color: #808080;
}


/*Logo*/

#logoimagen{ float: right; }
